<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>
<head>
    <title>{{ title }}</title>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Loading Bootstrap -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
	
    <script type="text/javascript">
	// Global variables
	
	var myhost = "http://yfaney.duckdns.org";
	//var myhost = "http://192.168.0.24";
	var sensor_name = "{{ sensor_name }}";
	var dateFrom = {{ date_from }};
	var zipcode = "66204";
	
	var htSensors = [];
	var htForecasts = [];

	var DEBUG = true;
	
	function sensorDataRequest(datetimefrom){
		return $.ajax({
			url: myhost + ':27018/iot/ht_sensor?query={"sensor_name":"' + sensor_name + '", "tstamp":{"$gte":{"$date":' + datetimefrom + '}}}&field={"_id":0}',
			xhrFields: {
				withCredentials: true
			},
			dataType: 'json'
		});
	}
	
	function forecastDataRequest(datetimefrom){
		return $.ajax({
			url: myhost + ':27018/iot/ht_forecast?query={"zipcode":"' + zipcode + '", "tstamp":{"$gte":{"$date":' + datetimefrom + '}}}&field={"_id":0}',
			xhrFields: {
			withCredentials: true
		},
		dataType: 'json'
		});
	}
	
	function lastSensorDataRequest(){
		return $.ajax({
			url: myhost + ':27018/iot/ht_sensor?query={"sensor_name":"' + sensor_name + '"}&field={"_id":0}&sort={"tstamp":-1}&limit=1',
			xhrFields: {
			withCredentials: true
		},
		dataType: 'json'
		});
	}
	
	function runEvery1Min() {
        $.when(lastSensorDataRequest()).done(function (resp) {
            result = eval(resp)[0];
            var lDate = epoch_to_date(result.tstamp.$date);
            var lDateTimeStr = lDate.toDateString() + " " + lDate.toTimeString();
            var lTemp = Math.round(result.temperature * 100) / 100;
            var lHumi = Math.round(result.humidity * 100) / 100;
            $('#curr_ht').html("<h3>As of " + lDateTimeStr + "</h3><h2>Temp: " + lTemp + "&#8451; Humidity: " + lHumi + "%</h2>");
            setTimeout(runEvery1Min(), 60 * 1000);
        });
    }

    function parseKoreanDate(dateString){
        var token = dateString.split(' ');
        var lDate = token[0];
        var lAmPm = token[1];
        var lTime = token[2];
        var dateToken = lDate.split('-');
        var timeToken = lTime.split(':');
        var lYear = parseInt(dateToken[0]);
        var lMonth = parseInt(dateToken[1]);
        var lDay = parseInt(dateToken[2]);
        var lHour = parseInt(timeToken[0]);
        var lMinute = parseInt(timeToken[1]);
        var lSecond = parseInt(timeToken[2]);
        if(lAmPm == "오후"){
            lHour += 12;
        }
        return new Date(lYear, lMonth, lDay, lHour, lMinute, lSecond);
    }
	
	function epoch_to_date(epoch) {
        var d = new Date();
        d.setTime(epoch)
        return d;
    }
	
	function getSensorData(sensorName, datetimeFrom, datetimeTo){
		if(DEBUG){
			return JSON.parse("[{'sensorname':'Sensor01', 'tstamp':1446703200000, 'Temperature':25, 'Humidity':50}]")
		}else{
		}
	}
	function getForecastData(zipcode, datetimeFrom, datetimeTo){
		if(DEBUG){
			return JSON.parse("[{'zipcode':'66204', 'tstamp':1446705200000, 'Temperature':22, 'Humidity':47}]")
		}else{
		}
	}
	
	// Main Start From Here!!

    var gTitleT = sensor_name + "'s Temperature";
    var gTitleH = sensor_name + "'s Humidity";
    google.load("visualization", "1", { packages: ["corechart", "timeline"] });
	
	// Read data from DB
	$.when(sensorDataRequest(dateFrom), forecastDataRequest(dateFrom)).done(function(resp1, resp2){
		htSensors = eval(resp1[0]);
		htForecasts = eval(resp2[0]);
		google.setOnLoadCallback(drawChart);
	});
	
	// Draw Chart!
    function drawChart() {
        if(htSensors.length == 0 && htForecasts.length == 0){
            gTitle = 'No data for ' + gTitle;
        }
        var dataSensorTemp = new google.visualization.DataTable();
        var dataSensorHumi = new google.visualization.DataTable();
        dataSensorTemp.addColumn('datetime', 'Date');
        dataSensorTemp.addColumn('number', 'Sensor');
        dataSensorHumi.addColumn('datetime', 'Date');
        dataSensorHumi.addColumn('number', 'Sensor');
        for(var i = 0 ; i < htSensors.length ; i++){
            var htSensor = htSensors[i];
            var sensorTime = epoch_to_date(htSensor.tstamp.$date);
            dataSensorTemp.addRow([sensorTime, htSensor.temperature]);
            dataSensorHumi.addRow([sensorTime, htSensor.humidity]);
        }
        var dataForecastTemp = new google.visualization.DataTable();
        var dataForecastHumi = new google.visualization.DataTable();
        dataForecastTemp.addColumn('datetime', 'Date');
        dataForecastTemp.addColumn('number', 'Forecast');
        dataForecastHumi.addColumn('datetime', 'Date');
        dataForecastHumi.addColumn('number', 'Forecast');
        for(var i = 0 ; i < htForecasts.length ; i++){
            var htForecast = htForecasts[i];
            var forecastTime = epoch_to_date(htForecast.tstamp.$date);
            dataForecastTemp.addRow([forecastTime, htForecast.temperature]);
            dataForecastHumi.addRow([forecastTime, htForecast.humidity]);
        }
        var joinedTemp = google.visualization.data.join(dataSensorTemp, dataForecastTemp, 'full', [[0, 0]], [1], [1]);
    
        var optionsT = {
            title: gTitleT,
            interpolateNulls: true,
            colors: ['#EF5350', '#CDDC39'],
            hAxis: { title: 'Timestamp', titleTextStyle: { color: '#333' } },
            vAxis: {
                viewWindow: {
                    min: -10,
                    max: 45
                },
                maxValue: 45, minValue: 10
            }
        };

        var chartTemp = new google.visualization.AreaChart(document.getElementById('chart_temp'));
        chartTemp.draw(joinedTemp, optionsT);

        var joinedHumi = google.visualization.data.join(dataSensorHumi, dataForecastHumi, 'full', [[0, 0]], [1], [1]);
    
        var optionsH = {
            title: gTitleH,
            interpolateNulls: true,
            colors: ['#1565C0', '#B39DDB'],
            hAxis: { title: 'Timestamp', titleTextStyle: { color: '#333' } },
            vAxis: {
                viewWindow: {
                    min: 15,
                    max: 80
                },
                maxValue: 80, minValue: 15
            }
        };

        var chartHumi = new google.visualization.AreaChart(document.getElementById('chart_humi'));
        chartHumi.draw(joinedHumi, optionsH);
	runEvery1Min();
    }
	
    </script>
</head>
<body role="document">
	<div class="page-header"style="margin-top:10%">
		<h1>Dashboard</h1>
	</div>
	<p>
		<a href="/dashboard?sensorName='{{ sensor_name }}&dateAgo=1" class="btn btn-default">1 Day</a>
		<a href="/dashboard?sensorName='{{ sensor_name }}&dateAgo=2" class="btn btn-default">2 Days</a>
		<a href="/dashboard?sensorName='{{ sensor_name }}&dateAgo=7" class="btn btn-default">1 Week</a>
		<a href="/dashboard?sensorName='{{ sensor_name }}&dateAgo=30" class="btn btn-default">1 Month</a>
	</p>
	<div id="curr_ht" style="min-height:140px" class="table-bordered"></div>
    <div id="chart_temp" style="min-height:480px" class="table-bordered"></div>
    <div id="chart_humi" style="min-height:480px" class="table-bordered"></div>
</body>
