<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
	  <link rel="stylesheet" type="text/css" href="http://homeautocss.net84.net/b.css">
	  <meta name="apple-mobile-web-app-title" content="RPi GPIO">
	  <meta name="apple-mobile-web-app-capable" content="yes">
	  <meta name="mobile-web-app-capable" content="yes">
	  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
   </head>
   <body>
      <h1>Pin Control</h1>
	  <div id="buttons">
	  	<br />
      	<a id="on" href="/4/on">GPIO 4 On</a>
	  	<a id="off" href="/4/off">GPIO 4 Off</a>
		<br />
		<br />
		<br />
      	<a id="on" href="/17/on">GPIO 17 On</a>
	  	<a id="off" href="/17/off">GPIO 17 Off</a>
		<br />
		<br />
		<br />
		<a id="on" href="/18/on">GPIO 18 On</a>
		<a id="off" href="/18/off">GPIO 18 Off</a>
		<br />
		<br />
		<br />
		<a id="on" href="/21/on">GPIO 21 On</a>
		<a id="off" href="/21/off">GPIO 21 Off</a>
		<br />
		<br />
		<br />
		<a id="on" href="/22/on">GPIO 22 On</a>
		<a id="off" href="/22/off">GPIO 22 Off</a>
		<br />
		<br />
		<br />
		<a id="on" href="/23/on">GPIO 23 On</a>
		<a id="off" href="/23/off">GPIO 23 Off</a>
		<br />
		<br />
		<br />
		<a id="on" href="/24/on">GPIO 24 On</a>
		<a id="off" href="/24/off">GPIO 24 Off</a>
		<br />
		<br />
		<br />
		<a id="on" href="/25/on">GPIO 25 On</a>
		<a id="off" href="/25/off">GPIO 25 Off</a>
		<br />
		<br />
		<br />
		<a id="on" href="/all/on">All On</a>
		<a id="off" href="/all/off">All Off</a>
	  	<br />
		<br />
  	  </div>
	  <br />
	  <br />
	  <p id="message"><span style="color:#E6A22E;">Current status: </span><span style="color:#2ED3E6;"><b>{{ message }}</b></span></p>
	  <br />
	  <p id="time"><span style="color:#E6A22E;">Current server time: </span><span style="color:#2ED3E6;"><b>{{ time }}</b></span></p>
   </body>
</html>